h1 {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
h3 {
  font-family: cursive;
  color: blue;
}
.nav {
  background-color: pink;
  width: 60%;
  margin: auto;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
